.container {
    display: inline;
}
.cornblue{
   width: 436px;
    height: 700px;
    background-color: cornflowerblue;
    float: left;
    
}
.torq{
    width: 436px;
    height: 700px;
    background-color:aquamarine;
    margin-left: 436px;
}
.green{
    width: 395px;
    height: 700px;
    background-color:cadetblue;
    float: right;
    margin-top: -702px;
}
.red{
    width: 395px;
    height: 120px;
    background-color: red;
    position: absolute;
    margin-left: 870px;
    margin-top: -125px;
}
h6{
    color: white;
    text-align: center;
    font-size: 20px;
}