header{
   background-color: lightgray;
    height: 80px;
    max-width: 100%;
}
main {
    background-color: white;
     height: 180px;
    max-width: 100%;
}
.one {
    background-color: cornflowerblue;
     height: 100px;
    max-width: 100%;
}
.second {
   background-color: aquamarine; 
     height: 100px;
    max-width: 100%;
}
.third {
    background-color: darkseagreen;
     height: 100px;
    max-width: 100%;
}
.four {
    background-color: yellow;
     height: 100px;
    max-width: 100%;
}
.five {
    height: 60px;
    width: 60px;
    background-color:cornflowerblue;
    margin-left: 20px;
    position: absolute;
    margin-top: 10px;
    
}